@import "tailwindcss";

body {
  margin: 0;
  background-color: #020617; /* Deep Slate 950 */
  color: #f8fafc;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom scrollbar for a better dark look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}